
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script src="~/umeditor1_2_2-utf8-net/third-party/jquery.min.js"></script>
    <script src="~/umeditor1_2_2-utf8-net/umeditor.config.js" charset="utf-8"></script>
    <script src="~/umeditor1_2_2-utf8-net/umeditor.min.js"></script>
    <script src="~/umeditor1_2_2-utf8-net/lang/zh-cn/zh-cn.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/umeditor/config")
        @Scripts.Render("~/umeditor/umeditor")
        @Scripts.Render("~/umeditor/lang")*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (Model.MenuViewModel menu in (List<Model.MenuViewModel>)ViewBag.MenuList)
                    {
                        <li>@Html.ActionLink(menu.Name, menu.Action, menu.Controller)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 津ICP备18005792号-1</p>
        </footer>
    </div>
</body>
</html>
